<div class="items-sell-contents">
  <div class="items-sell-main">
    <h4 class="h4"><%= link_to "Edit STUFF", root_path%></h4>
    <%= form_with model: @stuff, local: true do |f| %>
    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
      </div>
 <%= f.file_field :image, id:"stuff_image" %>
      </div>
    </div>
    <%# タイトルと物の説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
      </div>
      <%= f.text_area :name, class:"items-text", id:"stuff_name",placeholder:"例:洋服", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          断捨離する理由
        </div>
        <%= f.text_area :info, class:"items-text", id:"stuff_info",placeholder:"例:衝動買いで、購入しその後一度着用しただけで、それ以降着用してないから", rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 物の詳細 %>
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          手放した方法
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"stuff_category"}) %>
    </div>
    <%# 下部ボタン %>
   
      <%= f.submit "更新する" ,class:"stuff-btn" %>
   
  </div>
  <% end %>
</div>