<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Ceviche+One&family=Sonsie+One&display=swap" rel="stylesheet">
</head>
<body>
<!--メインの内容-->
<div id="container">
<!--ロゴ-->
	  <div class="toplogo">Simplify
   	 <!--/ロゴ--></div>
		 <h1>be a simplist!</h1>
<div class="side-bar-header">
<% if user_signed_in? %>
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
	<% end %>
	<%= image_tag "oioi.png", class:"left-image"%>
<!--ページの右下のメニュー-->
<div class="toppost">
          <h2>what does the simplism mean?</h2>
          <ul>
            <li>断捨離とは単に不要な物を処分するだけでなく<br>
						    物にとらわれずに生きていこうとする考え方そのものを指します<br>
                断捨離は片付け論の一つであり<br>
								ヨガの「断行」「捨行」「離行」という3つの考え方に基づいて提唱されました<br>
							  「不要な物を断つ、捨てる、物から離れる（執着しない）」という生き方を目指すことが<br>
								断捨離の本当のあり方だと言えます...
           </ul>
<!--/ページの右下のメニュー--></div>
<!--ページの左のメニュー-->
		<div class="sidemenu">
  		<ul>
		    <li><%= link_to "about simplify", users_path%>
		    <li><%= link_to "check my stuffs"%>
		    <li><%= link_to "post a stuff"%>
				<% unless user_signed_in? %>
				<li><%= link_to "Create Account", new_user_registration_path %>
				<%end%>
				<% unless user_signed_in? %>
				<li><%= link_to "Log in", new_user_session_path %>
				<% end %>
				<% if user_signed_in? %>
				<li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn'%>
<% end %>
		  </ul>
		<!--/ページの左のメニュー--></div>
<div class="copyright">Copyright © 2022 Daiki. All Rights Reserved.</div>
</div>
</body>
</html>
