<div class="items-sell-contents">
  <div class="items-sell-main">
    <h4 class="h4"><%= link_to "post a stuff", root_path%></h4>
    <%= form_with model: @stuff, local: true do |f| %>
    <%# render 'shared/error_messages', model: f.object %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">(必須)</span>
      </div>
 <%= f.file_field :image, id:"stuff_image" %>
      </div>
    </div>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">(必須)</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"stuff_name",placeholder:"例:洋服", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          断捨離する理由
        </div>
        <%= f.text_area :info, class:"items-text", id:"stuff_info",placeholder:"例:衝動買いで、購入しその後一度着用しただけで、それ以降着用してないから", rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
        <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          手放した方法
          <span class="indispensable">(必須)</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"stuff_category"}) %>
    </div>
      <%= f.submit "投稿する" ,class:"stuff-btn" %>
  </div>
  <% end %>
</div>