<h5><%= link_to "LISTS", root_path%></h5>
	<%= image_tag "sam.png", class:"left-image23"%>
  <div class="wrapper">
    <h6 id="header"></h6>

    <div id="next-prev-button">
        <button id="prev" onclick="prev()">‹</button>
        <button id="next" onclick="next()">›</button>
    </div>

    <div id="calendar">
    </div>
    
    
</div>
<% @stuffs.each do |stuff| %>
  <div class="article">
    <div class='item-img-content'>
      <%= image_tag stuff.image, class: 'message-image'  %>
    </div>
    <div class="article-title">
      <%= stuff.name.created_at %>
    </div>
    <div class="article-title">
      <%= stuff.info %>
    </div>
    <div class="article-title">
      <%= stuff.category.name %>
    </div>
    <div class="article-title">
    <%= link_to "DELETE", stuff_path(stuff.id), method: :delete %>
    </div>
    <div class="article-title">
    <%= link_to "EDIT", edit_stuff_path(stuff.id) %>
    </div>
  </div>
<%end%>