<h5><%= link_to "LISTS", root_path%></h5>
	<%= image_tag "sam.png", class:"left-image23"%>
 <div class="col-md-8">
<%= month_calendar events: @stuffs do |date, stuffs| %>
<%= date.day %>


<% stuffs.each do |stuff| %>
  <div>
    <%= stuff.name %>
  </div>
<% end %>

<% end %>
</div>
    
    
</div>
<% @stuffs.each do |stuff| %>
  <div class="article">
   <div class="article-title">
      <%= stuff.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class='item-img-content'>
      <%= image_tag stuff.image, class: 'message-image'  %>
    </div>
    <div class="article-title">
      <%= stuff.name %>
    </div>
    <div class="article-title">
      <%= stuff.info %>
    </div>
    <div class="article-title">
      <%= stuff.category.name %>
    </div>
    <div class="article-title">
    <%= link_to "DELETE", stuff_path(stuff.id), method: :delete %>
    </div>
    <div class="article-title">
    <%= link_to "EDIT", edit_stuff_path(stuff.id) %>
    </div>
  </div>
<%end%>