<!DOCTYPE html>
<html>
  <head>
    <title>Simplify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<div>
  <%#audio autoplay src="https://www.pacdv.com/sounds/interface_sound_effects/sound26.mp3"></audio%>
</div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
